body {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.domain::before {
    content: "\0040"; /* Unicode character for @ symbol */
}

#dummy {
    display: none;
}

.lastrow {
    margin-bottom: 0;
}

.contents {
    margin-top: 0;
}

.footer-ad {
    text-align: center;
}

#ads {
    float: left;
    padding-left: 10px;
    text-align: right;
    margin-top: 2em;
}

    #ads div {
        margin-bottom: 2em;
    }

table.googlesheet {
    border: 1px solid black;
}

    table.googlesheet th {
        border: 1px solid black;
    }

/* Bootstrap */
.jumbotron {
    background-color: white;
    padding-bottom: 0;
}

    .jumbotron .container {
        text-align: center;
    }

.jumbotronwidth {
    max-width: 100%;
}

div.row {
    border-radius: 20px;
    background-color: #8ec0e7;
    margin-bottom: 1em;
}

.donations {
    background-color: darkseagreen !important;
    padding: 5px;
    text-align: center;
}

blockquote {
    font-size: 14px;
}
article {
    padding-bottom: 20px;
}
    article img {
        margin: 5px 5px 10px 2px;
        -webkit-box-shadow: 10px 10px 30px 0 #8688a3;
        -webkit-box-shadow: 10px 10px 30px 0 #8688a3;
        -moz-box-shadow: 10px 10px 30px 0 #8688a3;
        -moz-box-shadow: 10px 10px 30px 0 #8688a3;
        box-shadow: 10px 10px 30px 0 #8688a3;
        box-shadow: 10px 10px 30px 0 rgba(134,136,163,1);
    }
figure {
    position: relative;
    margin: 1.5em 0;
    margin-right: 1em;
    border-top: 1px dotted #029dcb;
    border-bottom: 1px dotted #029dcb;
}
figure img {
    margin: .75em auto;
}
figcaption {
    clear: left;
    margin: .75em 0;
    text-align: center;
    font-style: italic;
    line-height: 1.5em;
    font-weight: bold;
}