<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MapWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <MapWindow.Properties.Settings>
            <setting name="MainForm_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainForm_startLocation" serializeAs="String">
                <value>WindowsDefaultLocation</value>
            </setting>
            <setting name="MainForm_SizeWidth" serializeAs="String">
                <value>853</value>
            </setting>
            <setting name="MainForm_SizeHeight" serializeAs="String">
                <value>603</value>
            </setting>
            <setting name="CurrentZoomlevel" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MainForm_windowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </MapWindow.Properties.Settings>
    </userSettings>
</configuration>